<app-page title="Create New Site">
  <form
    class="stack gap-4 items-stretch w-full"
    #siteCreateForm="ngForm"
    (ngSubmit)="handleFormSubmit()"
  >
    <div class="stack gap-2">
      <label for="name" class="text-sm text-gray-600 font-medium"> Name</label>
      <input
        id="name"
        type="text"
        pInputText
        placeholder="@example.com"
        name="'name'"
        [(ngModel)]="name"
        class="input"
        required
      />
    </div>

    <div class="stack gap-2">
      <label for="url" class="text-sm text-gray-600 font-medium"> URL</label>
      <input
        id="url"
        type="url"
        pInputText
        placeholder="www.example.com"
        name="'url'"
        [(ngModel)]="url"
        class="input"
        required
      />
    </div>

    <div class="stack gap-2">
      <label for="scanInterval" class="text-sm text-gray-600 font-medium">
        Scan Interval</label
      >

      <div class="flex gap-4 items-center">
        <p-selectButton
          name="scanInterval"
          [options]="scanIntervalOptions"
          [(ngModel)]="scanInterval"
          optionLabel="label"
          optionValue="value"
          class="border border-gray-300 w-max rounded-md h-min text-xs font-normal"
        ></p-selectButton>

        <div *ngIf="!scanInterval" class="relative flex gap-2 items-center">
          <input
            id="customIntervalInput"
            pInputText
            type="number"
            placeholder="Custom interval"
            name="'customScanInterval'"
            [(ngModel)]="customScanInterval"
            class="input"
            required
          />

          <p-dropdown
            name="scanIntervalUnit"
            [options]="scanIntervalUnitOptions"
            [(ngModel)]="scanIntervalUnit"
            optionLabel="label"
            class="border border-gray-300 w-max rounded-md h-min text-xs font-normal"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <app-button
      label="Create"
      className="w-60 mt-10"
      [disabled]="!siteCreateForm.form.valid"
      type="submit"
    />
  </form>
</app-page>
